.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
  }
  input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px; 
  }

  .form-control {
    border: none;
    border-bottom: solid;
    border-radius: 0px;
    margin: 20px 0px;
}

.form-container {
  margin: 50px auto;
  width: 350px;
  height: 550px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.btn-primary {
  margin-top: 50px;
  
}