.form-container {
    margin: 50px auto;
    width: 350px;
    height: 350px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    border-radius: 50px;
    
}

.btn-primary {
    background-color: darkslategrey;
    border-color: black;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.form-inline label {
    margin-right: 15px;
}

.form-inline .form-control {
    width: 80%;
}

.form-control {
    border: none;
    border-bottom: solid;
    border-radius: 0px;
    margin: 20px 0px;
}